.container {
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0.1px gray;
  width: 180px;
  margin-bottom: 15px;
}

.image {
  width: 100%;
  height: 130px;
  border-radius: 10px 10px 0px 0px;
  background-size: cover;
}

.icon {
  color: var(--blue);
  font-size: 10px;
}

.imageSection {
}

.titleSection {
  padding: 10px;
}

.title {
  font-size: 16px !important;
  color: var(--darkblue);
}

.subtitleSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subtitle {
  font-size: 14px;
  color: var(--orange);
  font-weight: 400;
}
.year {
  font-weight: 400;
  color: var(--darkblue);
  font-size: 10px;
  opacity: 0.8;
}
.description {
  display: flex;
  justify-content: space-around;
  padding: 0px 10px;
}

.box {
  background-color: var(--lightblue);
  padding: 5px;
  border-radius: 10px;
  width: 50px;
  font-size: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--darkblue);
}

.priceSection {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-size: 20px;
  color: var(--darkblue);
}

.bookNow {
  padding: 5px 10px;
  background-color: var(--blue);
  color: white;
  border-radius: 10px;
  font-size: 12px;
  text-decoration: none;
}

.day {
  font-size: 14px;
  color: var(--subtitle);
}

@media screen and (min-width: 960px) {
  .container {
    width: 250px;
    margin-right: 20px;
    margin-bottom: 35px;
  }
  
  .image {
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0px 0px;
    background-size: cover;
  }

  .title {
    font-size: 26px !important;
    color: var(--darkblue);
  }

  .icon {
    color: var(--blue);
    font-size: 14px;
  }

  .box {
    width: 70px;
    font-size: 14px;
  }

  .subtitle {
    font-size: 16px;
  }

  .year {
    font-size: 14px;
  }

  .price {
    font-size: 24px;
  }
  .bookNow {
    padding: 5px 10px;
    font-size: 16px;
  }

  .priceSection {
    padding: 10px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
