:root {
  --orange: #e8694b;
  --darkblue: #293241;
  --lightblue: #eef3ff;
  --blue: #1471d7;
  --subtitle: rgb(88, 85, 85);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.swiper-button-prev,
.swiper-button-next {
  color: white !important;
}

.swiper-pagination-fraction {
  color: gray !important;
  font-size: 12px;
}
@emailjs/browser @emotion/react @emotion/styled @iconify/icons-mdi @iconify/react @mui/material @mui/x-date-pickers dayjs i18next swiper